* {
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

h1 {
    color: white;
    position: static;
}
#menu {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

#menu div {
    display: inline-block;
    background-color: black;
    color: white;
}

#menu div a{
    color: white;
    font-size: 20px; font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 15px;
}
#menu a:hover {
    font-weight: bold;
    background-color: turquoise; background-position: 50px 50px; height: 0%;
    border-radius: 10px;
    
}

#artigos {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

#artigos article {
    color: black;
    font-size: 14px; font-weight: 500;
    text-decoration: none;
    /*display: block*/;
    padding: 20px;
}

#titulos {
    font-size: 20px; font: bold
}
#central {
    display: flex;
    background-color: rgb(92, 43, 3);
    justify-content: space-between;
}

#central div {
    color: rgba(214, 90, 90);
    font-size: 14px; font-weight: 500;
    text-decoration: none;
    /*display: block*/;
    padding: 20px;
}






